.instructor {
  padding: 25px 0;
  overflow: hidden;
}

// .instructor .container {
//   text-align: center;
// }

.instructor__img-title {
  text-align: center;;
}

.instructor__title {
  position: relative;
  letter-spacing: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;

  &::before {
    content: "Инструктор";
    position: absolute;
    color: #32383f;
    opacity: 0.1;
    width: 460px;
    height: 80px;
    font-family: "Besom", "Times New Roman", sans-serif;
    line-height: 100px;
    font-size: 100px;
    letter-spacing: 4px;
  }
}

.instructor__img {
  margin: 0 auto;
}

.instructor__skills-list-top,
.instructor__skills-list-bottom {
  list-style: none;
  margin: 0 auto;
  padding: 0 10px 0 60px;
  background-repeat: no-repeat;
  background-position: left 5px;
}

.instructor__skills-list-top {
  background-image: url("../img/bg_instructors.png");
  margin-bottom: 20px;
  min-height: 280px;
}

.instructor__skills-list-bottom {
  background-image: url("../img/bg_instructors_bottom.png");
  min-height: 230px;
}

.instructor__item {
  margin-bottom: 25px;

}
