@font-face {
    font-family: 'Besom';
    src: url('../fonts/Besom.woff2') format('woff2'),
        url('../fonts/Besom.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Core Sans E 55';
    src: url('../fonts/CoreSansE-55Medium.woff2') format('woff2'),
        url('../fonts/CoreSansE-55Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans E 45';
    src: local('Core Sans E 45 Regular'), local('CoreSansE-45Regular'),
        url('../fonts/CoreSansE-45Regular.woff2') format('woff2'),
        url('../fonts/CoreSansE-45Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans E 35';
    src: local('Core Sans E 35 Light'), local('CoreSansE-35Light'),
        url('../fonts/CoreSansE-35Light.woff2') format('woff2'),
        url('../fonts/CoreSansE-35Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans E 35';
    src: local('Core Sans E 35 Light Italic'), local('CoreSansE-35LightIt'),
        url('../fonts/CoreSansE-35LightIt.woff2') format('woff2'),
        url('../fonts/CoreSansE-35LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans E 85';
    src: local('Core Sans E 85 Heavy'), local('CoreSansE-85Heavy'),
        url('../fonts/CoreSansE-85Heavy.woff2') format('woff2'),
        url('../fonts/CoreSansE-85Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans E 95';
    src: local('Core Sans E 95 Black'), local('CoreSansE-95Black'),
        url('../fonts/CoreSansE-95Black.woff2') format('woff2'),
        url('../fonts/CoreSansE-95Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans E 65';
    src: local('Core Sans E 65 Bold'), local('CoreSansE-65Bold'),
        url('../fonts/CoreSansE-65Bold.woff2') format('woff2'),
        url('../fonts/CoreSansE-65Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.visualy-hidden:not(:focus):not(:active),
input[type="checkbox"].visualy-hidden,
input[type="radio"].visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// .btn {
//   background-color: $decor-color;
//   border: none;
//   cursor: pointer;
//   text-transform: uppercase;
// }

.btn {
  display: block;
  width: 310px;
  margin: 0 auto;
  border: none;
  color: $second-base-color;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  padding: 20px 22px 32px;
  font-size: 18px;
  font-family: "Core Sans E -95 Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 2px;
  text-align: center;
  position: relative;
  background-image: url("../img/title_bg.png");
  background-repeat: no-repeat;
  outline: none;
  transition: background-color 0.1s ease;

  &:hover,
  &:focus {
    transform: scale(1.01);
  }

  &:active {
    padding-top: 22px;
    padding-bottom: 30px;
  }
}

.title {
  font-family: "Core Sans E -95 Black", sans-serif;
  font-size: 34px;
  line-height: 38px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0;
}

.marker {
  margin: 0 auto;
  width: 21px;
  height: 21px;
  background-image: url("../img/marker.png");
  background-repeat: no-repeat;
}

// .form__container,
// .page-footer__wrapper {
//   max-width: 1300px;
//   padding: 0 40px;
//   margin: 0 auto;
// }

body {
  padding: 0;
  margin: 0 auto;
  min-width: 320px;
  font-family: "Core Sans E -45 Regular", "Times New Roman", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $base-color;
}

.container {
  padding: 10px 15px 45px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  body {
    min-width: 750px;
  }
}

@media (min-width: $desktop-width) {
  body {
    max-width: 1170px;
  }
}
