/*Цвета*/
$base-color: #4d4d4d;
$second-base-color: #ffffff;
// $background-color: #f2f2f2;
$decor-color: #ff0000;
$title-color: #111111;

@mixin list-default {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Размеры брейкпоинтов*/
$tablet-width: 750px;
$desktop-width: 1170px;

/*Разрешения*/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
